[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages] 
django = "*"
djangorestframework = "*"
# djangorestframework = "==3.12"
drf-yasg = "*"
django-role-permissions = "*"
django-axes = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
# collectfast = "*"
sentry-sdk = "*"
django-anymail = "*"
gunicorn = "*"
django-cpf-cnpj = "*"
pillow = "*"
python-barcode = "*"
pdfkit = "*"
jinja2 = "*"

[dev-packages]
# pytest = "*"
# pytest-mock = "*"
# pytest-django = "*"
# model-bakery = "*"
# pytest-cov = "*"
django-extensions = "*"
ipython = "*"
neovim = "*"
faker = "*"
# ropevim = "*"

[requires]
python_version = "3.9"
