- Requirements 

apt get install wkhtmltopdf
apt get install xorg-server

- Requirements dev

yay -S mailhog-bin
mailhog (run mailhog)

- Swagger

After login is necessary to reload page to load csrftoken
